# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Data files (too large for GitHub)
data/steam_games_raw.csv
data/steam_games_clean.csv
data/steam.db
data/model_rf.pkl
data/feature_columns.pkl
data/label_encoders.pkl

# Jupyter
.ipynb_checkpoints/

# Reports (generated)
reports/figures/*.png
reports/*.txt
